.App {
  text-align: center;
}

.header {
  margin-top: 20px;
}

.user-list {
  border: solid;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #eeeeee;
}

html {
  background: #bbbbbb
}

.user-list_header {
  font-size: 24px;
}

ul {
  display: inline-table;
  padding: unset;
  text-align: start;
  list-style-position: inside;
}

.login-form {
  position: absolute;
  z-index: 1;
  width: 50%;
  margin: auto 0;
}

.login-form_form {
}